<form action="/userlist/update" method="POST" class="UserUpdate clearfix">
    <div class="clearfix">
        <span>ID</span>
        <input type="text" name="id" value="<%=data[0]._id%>" readonly>
    </div>
    <div class="clearfix">
        <span>Name</span>
        <input type="text" name="name" value="<%=data[0].name%>">
    </div>
    <div class="clearfix">
        <span>Surname</span>
        <input type="text" name="surname" value="<%=data[0].surname%>">
    </div>
    <div class="clearfix">
        <span>Username</span>
        <input type="text" name="username" value="<%=data[0].username%>">
    </div>
    <div class="clearfix">
        <span>Password</span>
        <input type="text" name="password" value="<%=data[0].password%>">
    </div>
    <input type="submit" value="SAVE">
</form>