<h1>Hello Team,</h1>
<% if (data.length) {%>
    <h2>Here is the UserList</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name Surname</th>
                <th>Username</th>
                <th>Password</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody><%
        for(var i = 0; i < data.length; i++) {%>
            <tr class="">
                <td><%= i+1 %></td>
                <td><%= (data[i].name) %> <%= (data[i].surname) %></td>
                <td><%= (data[i].username) %></td>
                <td><%= (data[i].password) %></td>
                <td><a href="/userlist/delete/<%=data[i].id%>">Delete</a></td>
                <td><a href="/userlist/update/<%=data[i].id%>">Update</a></td>
            </tr><%
        }%>
        </tbody>
    </table><%
    } else if (error) {%>
        <h2 class="error"><%=error%></h2><%
    }
%>
